@font-face {
    font-family: "MTSSans";
    font-weight: 100;
    src: url("../fonts/MTSSans/MTSSans-Regular.otf") format("opentype");
}
@font-face {
    font-family: "MTSSans";
    font-weight: 400;
    src: url("../fonts/MTSSans/MTSSans-Black.otf") format("opentype");
}
@font-face {
    font-family: "MTSSans";
    font-weight: 700;
    src: url("../fonts/MTSSans/MTSSans-Bold.otf") format("opentype");
}
@font-face {
    font-family: "MTSSans";
    font-weight: bold;
    src: url("../fonts/MTSSans/MTSSans-UltraWide.otf") format("opentype");
}
	
@font-face {
    font-family: "MTSSans";
    font-weight: 500;
    src: url("../fonts/MTSSans/MTSSans-Medium.otf") format("opentype");
}
.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'MTSSans';
	font-style: normal;
	font-weight: 100;
}
html {
	scroll-behavior: smooth;
}
body{
	position: relative;
}
.red{
	background-color: #E30611 !important;
}
.header{
	background-color: #000000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1100;
	top:0;
}
li,p{
	line-height: 20px;
}
body a{
	outline: none;
	color: #FFFFFF;
	text-decoration: none;
}
.wrapper{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto 0 auto;
}
.clear{
	clear: both;
}
header {
	max-width: 1440px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: -1px ;
	width: 100%;
}
.header__menu_list{
	display: flex;
	flex-direction: row;
	align-items: center;
	letter-spacing: 0.18px;
}
.header__nemu_list-item{
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 2;
	margin-left: 17px;
	flex-grow: 0;
	letter-spacing: 0.2px;
	margin-bottom: -1px;
}
.lang_item-item{
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 2;
	margin-left: 17px;
	flex-grow: 0;
	letter-spacing: 0.2px;
	margin-bottom: -1px;
}
.lang_item{
	padding: 10px;
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	flex: none;
	order: 2;
	flex-grow: 0;
	letter-spacing: 0.2px;

}
/* .header__menu_list :first-child{
	margin-left: 4px;
} */
.bg-black{
	background-color: #000000;
	padding-top: 68px;
}
.bg-image{
	background-color: #000000;
	background-image: url(../img/baner_bg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 150px;
	padding-bottom: 200px;
	/* height: 100vh; */
}
.bg-image-left{
	background-color: #000000;
	background-image: url(../img/bg-left.png);
	background-repeat: no-repeat;
	background-position: left;
	/* height: 100vh; */
}
.baner {
	display: flex;
	flex-direction: row;
}
.baner__left{
	color: #FFFFFF;
    max-width: 578px;
    margin-right: 165px;
}
.baner__left h1{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 58px;
	line-height: 66px;
	margin-top: 46px;
	margin-bottom: 34px;
}
.baner__left_text{
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 27px;
	margin-top: 28px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.header__logo {
    margin-right: 20px;
    margin-left: 5px;
}

.baner__right_img{
	padding-top: -30px;
}

.lh{
	line-height: 24px;
}

.header__nemu_list-item a{
	padding: 18px 0px 18px;
	display: flex;
    flex-direction: column;
    width: 100%;
	position: relative;
	transition: .3s ease;
}
.header__nemu_list-item a:hover{
	transition: .3s ease;
	color: #E30611;
}
.header__nemu_list-item a::after{
    content: " ";
    bottom: 21px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #E30611;
	position: absolute;
    transition: all 0.5s ease;
}
.lang_item-item a::after{
    content: " ";
    bottom: 21px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #E30611;
	position: absolute;
    transition: all 0.5s ease;
}
.header__nemu_list-item a:hover::after{
	width: 100%;
}
/* .bg-light{
	height: 100vh;
} */
/* блок уровни*/
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	height: 902px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding-top: 304px;
  }
  .palm__block_func-item > figure > .photoAuto > img{
	max-width: 370px;
  }
  .palm__block_func-item > figure > .photoAuto > source{
	max-width: 370px;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .swiper-slide source {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .he{
	margin: 0;
	padding-top:0px;
	height: 100% !important;
  }
  .swip{
	display: flex;
    flex-direction: column;
    /* height: 450px; */
    justify-content: space-between;
  }

  .swip h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 950px;
	text-align: left;
  }
  .swiper-pagination{
	bottom: -50px !important;
  }
  .swiper__text{
	max-width: 600px;
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 130%;
	color: #FFFFFF;
	margin-top: 15px;
	text-align: left;
  }
  .swiper__block{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow-x: hidden;
	
  }
  .swiper_block::-webkit-scrollbar{
	display: none;
  }
  .swiper-slide-thumb-active a{
	background: #F51C27;
  }
  /* .swiper-pagination{
	bottom: 80px !important;
  } */
  .swiper__block_content{
	min-height: 140px;
	/* margin-right: 20px; */
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
    padding: 42px 29px;
	background: #333333;
	backdrop-filter: blur(2px);
	border-radius: 20px;

	width: 100%;
	text-align: left;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 0.8px;
  }

  .swiper-pagination-bullet{
	width: 87.78px;
	height: 4.2px;
	background: #7F8084;
	border-radius: 100px;
	opacity: 1;
  }
  .swiper-pagination-bullet-active{
	background: #F51C27;
  }
  
  /* .swiper-pagination-horizontal{
	bottom: 94px !important;
  } */
.lvl__header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.lvl__header h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.lvl__header h3{
	font-style: normal;
	font-weight: 100;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	opacity: 0.7;
	margin-top: 15px;
	margin-bottom: 56px;
}
.lvl{
	padding-top: 79px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lvl__header_buttons .active{
	background: #E30611;
	border-radius: 8px;
	border: 0;
}
.lvl__header_buttons {
	max-width: 784px;
	width: 100%;
	height: 100%;
	max-height: 67px;
	border: 1px solid #424242;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}
#videoreg{
	margin-right: 7px;
}
.lvl_header_buttons-item{
	width: 50%;
    padding: 13px 0 15px;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    background: none;
    color: #FFFFFF;
    margin: 5px 0px 6px 8px;
	border: 0;
    letter-spacing: 0.7px;
	
}
.lvl__block_func-item{
	margin-bottom: 22px;
}
.active{
	display: block !important;
}
.lvl__block_func-item > figure > .drop span::after{
	right: 46.5%;
}
.lvl__block_func-item .photo{
	visibility: hidden;
}
.lvl__block_func-item .photo.active{
	visibility: visible;
}
.lvl__block_func-item .desc{
	display: none;
}

.lvl__block_videoreg{
	display: none;
}
.lvl__block_func{
	display: none;
}
.lvl__block_ul{
	list-style: none;
}
.photo {
	position: absolute;
	max-width: 646px;
}
.photo img{
	width: 100%;
}
.photo source{
	width: 100%;
}
.lvl__block_func {
	width: 100%;
}
.lvl__block_videoreg {
	width: 100%;
}
.lvl__block_func-item figure figcaption{
	width: 50%;
    margin-left: 60.4%;
}
.frst{
	margin-top: 37px;
}
.lvl__block_ul{
	position: relative;
}
.lvl__block_func-item figure .photo{
    position: absolute;
    top: -53px;
    left: 13%;
}
.lvl__button1{
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	cursor: pointer;
	opacity: 0.6;
	transition: 0.3s;
	letter-spacing: 1px;
}
.lvl__button1.active{
	opacity: 1;
}
.lvl__button2{
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	cursor: pointer;
	opacity: 0.6;
	transition: 0.3s;
	letter-spacing: 1px;
}
.lvl__button2.active{
	opacity: 1;
}
.desc{
	max-width: 343px;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.desc.active{
	margin-top: 17px;
	margin-bottom: 35px;
}
.lvl__footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-top: 92px;
}
.lvl__footer h3{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.lvl__block_videoreg{
	height: 400px;
}
.lvl__block_func{
	height: 400px;
}
.lvl__block_videoreg{
	height: 400px;
}
.lvl__footer_carst {
    margin-top: 61px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 74px;
    align-items: flex-start;
    justify-content: center;
}
.lvl__footer_center figcaption {
    margin: 0px 93px;
    max-width: 152px !important;
}
.lvl__footer_carst figure{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.lvl__footer_carst figure figcaption {
    align-items: center;
    text-align: center;
    max-width: 241px;
    margin-top: 18px;
}



/*блок на ладони*/

.bg-light{
	background: #F2F3F7;
}
.palm__header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.palm__header h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #3E3E3E;
}
.palm__header h3{
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #616163;
	margin-top: 11px;
    margin-bottom: 56px;
}
.mb{
	padding-bottom:150px;
}
.palm{
	padding-top: 97px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.palm__header_buttons .active{
	background: #E30611;
	border-radius: 8px;
	color: #FFFFFF;
	border: 0;
}
.palm__header_buttons {
	width: 54.5%;
	height: 67px;
	border: 1px solid #C8C8C8;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
    padding: 4px 7px 6px 7px;
    margin-bottom: 48px;
}
#func_palm{
	margin-right: 11px;
}
.palm_header_buttons-item{
	width: 50%;
    padding: 13px 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    background: none;
	border: 0;
    letter-spacing: 0.7px;
}
.palm__block_func-item .photo{
	visibility: hidden;
}
.palm__block_func-item .photo.active{
	visibility: visible;
}
.palm__block_func-item .palm__desc{
	display: none;
}

.palm__block_videoreg{
	display: none;
}
.palm__block_func{
	display: none;
}
.palm__block_ul{
	list-style: none;
}
.palm__block_func {
	width: 100%;
}
.palm__block_videoreg {
	width: 100%;
}
.palm__block_func-item figure figcaption{
	width: 26%;
    margin-left: 51.1%;
}
.palm__block_ul{
	position: relative;
}
.palm__block_func-item figure .photo{
    position: absolute;
    z-index: 100;
    top: -23px;
    left: 21%;
}
.palm__block_func-item > figure > .photo > img{
	z-index: 100;
}
.palm__block_func-item > figure > .photo > source{
	z-index: 100;
}
.palm__block_func-item > figure > figcaption > .palm__button2{
	position: relative;
	margin-bottom: 20px;
	z-index: 900;
}
.palm__block_func-item > figure > figcaption > .palm__button1{
	position: relative;
	margin-bottom: 12px;
	z-index: 900;
}
.palm__button1{
	font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
    cursor: pointer;
    letter-spacing: 0.3px;
	transition: 0.3s;
}
.palm__button1.active{
	color: #3E3E3E;
	opacity: 1;
}
.palm__button2{
	font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
    cursor: pointer;
	transition: 0.3s;
    letter-spacing: 0.3px;
}
.palm__button2.active{
	color: #3E3E3E;
	opacity: 1;
}
.palm__block_videoreg{
	height: 400px;
}
.palm__block_func{
	height: 400px;
}
.palm__block_videoreg{
	height: 400px;
}
.palm__desc{
	max-width: 265px;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 19px;
	color: #3E3E3E;
}
.palm__desc.active{
	margin-top: -1px;
	margin-bottom: 16px;
}
.bg-black{
    overflow: hidden;
}

/* .bg-light{
	height: 100vh;
} */
.bg-white{
	background: #FFFFFF;
	
}
/* .mb{
	height: 100vh;
} */
.maps{
	display: flex;
	flex-direction: row;
	padding-top: 177px;
	padding-bottom: 186px;
	justify-content: center;
}
.maps__head{
	max-width: 413px;
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #3E3E3E;
}
.maps_text{
	max-width: 413px;
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #3E3E3E;
	margin-top: 21px;
	margin-bottom: 37px;
}
.maps__ul_item{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	align-items: center;
	list-style: disc inside;
	list-style-image: url(../img/marker.png);
	margin-bottom: 10px;
}
.maps__ul_item > span{
	color: #3E3E3E;
	font-size: 20px;
	margin-left: 8px;
}
.maps__img img{
	margin-top: 90px;
	margin-left: 7px;
}
.maps__img source{
	margin-top: 90px;
	margin-left: 7px;
}
.connection{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 87px;
}
.connection h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 37px;

}
.connection p{
	font-style: normal;
	font-weight: 100;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
	max-width: 651px;
}
.min{
	font-weight: 100;
	font-size: 14px;
	line-height: 130%;
	margin-top: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 69px;
	color: rgba(255, 255, 255, 0.5);
}

.bg-image-top{
	background-image: url(../img/bg-yop.png);
	background-repeat: no-repeat;
	background-position: top center;

}

.lvl__footer_carst > figure > figcaption > span{
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 0px;
	color: #FFFFFF;
}

.drop{
	position: relative;
	
}

.drop span::after{
	content: "";
	position: absolute;
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	height: 15px;
	right: 0;
}
.drop > .active::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.disable{
	display: none !important;
}
.connection{
	padding-bottom: 176px;
	/* max-width: 711px; */
	margin: auto;
}
.connection__block{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 711px;
}
.connection__block > dl{
	max-width: 465px;
}
#conn_2{
	margin-left: 51%;
	max-width: 100%;
}
.connection__block__item-li{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	align-items: center;
	list-style: disc inside;
	list-style-image: url(../img/marker.png);
	margin-bottom: 10px;
}
.connection__block__item-li > span{
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 8px;
	font-weight: 100;
}
.connection__block_item ~ dd{
	display: none;
	margin-bottom: 33px;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	color: #FFFFFF;
	opacity: 0.5;
	max-width: 393px;
}
.connection__buttons{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 711px;
	margin-bottom: 59px;
}
.connection__buttons_item{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.7;
	background: none;
	border: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	transition: 0.3s;
}
.connection__buttons_item.active{
	border-bottom: 1px solid #F51C27;
	opacity: 1;
}
.connection__block_item{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 11px;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.connection__block_item-no{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 11px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.connection__block_item::after{
	content: "";
	position: absolute;
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	height: 15px;
	right: 0;
}
.connection__block_item.active{
	display: flex !important;
}
.connection__block_item.active::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#conn_3 > dl{
	max-width: 620px !important;
}
/* #mn{
	height: 100vh;
} */
.casses{
	padding-top: 165px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.casses h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.classes_blocks{
	display: flex;
	flex-direction: row;
	max-width: 1280px;
	margin: auto;
	position: relative;
	width: 100%;
	margin-top: 91px;
	z-index: 1000;
}
.classes__blocks_item{
	position: relative;
	height: 355px;
	display: flex;
	cursor: pointer;
    flex-direction: column-reverse;
}
.classes__blocks_item:nth-child(1){
	background-image: url(../img/toyota-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 50%;
	margin-right: 20px; border-radius: 24px;
}
.classes__blocks_item:nth-child(2){
	background-image: url(../img/hav-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 50%; border-radius: 24px;
}
.classes__blocks_item > div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-left: 23px;
	margin-bottom: 29px;
}
.classes__blocks_item > div > h3{
	margin-right: 9px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
	z-index: 200;
}

.calsses__modal{
	width: 100%;
	max-width: 1197px;
	display: none;
	position: absolute;
	padding-left: 81px;
	padding-right: 81px;
	z-index: 1000;
}
.calsses__modal h3{
	margin-top: 78px;
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #3E3E3E;
}
.calsses__modal{
	background-color: #FFFFFF;
	border-radius: 20px;
}
.calsses__modal_content{
	display: flex;
	flex-direction: row;
	margin-top: 57px;
}
.calsses__modal_content picture{
	margin-right: 86px;
}
.calsses__modal_li{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	align-items: center;
	list-style: disc inside;
	list-style-image: url(../img/marker.png);
	margin-bottom: 30px;
	max-width: 600px;
}
.close{
	cursor: pointer;
	position: absolute;
	right: 0;
	z-index: 101;
}
.hid{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	display: none;
	z-index: 1000;
}


.devisecs{
	padding-top: 129px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.devices__title{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 15px;
}
.devisecs p{
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 120px;
}

.sistem,.videoreg{
	display: flex;
	flex-direction: row;
}
.sistem picture{
	margin-right: 67px;
}
.sistem__right h3{
    margin-top: 48px;
	font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 10px;
    max-width: 300px;
    letter-spacing: -0.4px;
	
}
.sistem__right_buttons{
	display: flex;
	flex-direction: row;
	max-width: 190px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 55px;
}
.sistem__right_buttons button{
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	margin-left: 7px;
	display: flex;
	max-width: 85px;
	width: 100%;
	align-items: center;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	color: #FFFFFF;
	background: none;
	align-items: center;
	padding: 10px 0px;
    justify-content: center;
}
.sistem__right_li{
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    list-style: disc inside;
    list-style-image: url(../img/marker.png);
    margin-bottom: 1px;
    max-width: 600px;
    color: #A7A7A7;
    margin-left: 7px;
}
.sistem__right ul{
	display: none;
}
.sistem__right_buttons button.active{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	color: #000000;
}

.videoreg__left h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
    /* width: 100%; */
    margin-bottom: 22px;
    letter-spacing: -1.1px;
    max-width: 400px;
}

.videoreg__left p{
    font-style: normal;
    font-weight: 100;
    font-size: 19px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 27px;
    max-width: 342px;
    letter-spacing: 0.5px;
}
.videoreg__left_li{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	list-style: disc inside;
	list-style-image: url(../img/marker.png);
	margin-bottom: 18px;
	max-width: 600px;
	color: #A7A7A7;
}

.del{
	padding-top: 102px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.del__header {
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	align-items: flex-end;
	margin-bottom: 67px;
}
.del__body{
	width: 100%;
	padding-bottom: 140px;
}
.del__body ul li{
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	align-items: center;
	background: #FFFFFF;
	border-radius: 16px;
	padding:49px 0px 45px 32px;
	margin-bottom: 19px;
}
.del__header h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	text-transform: uppercase;
	color: #3E3E3E;

}
.del__header_par1{
	max-width: 150px;
	margin-left: 11px;
}
.del__header_par2{
	max-width: 135px;
	margin-left: 43px;
}
.del__header_par3{
	max-width: 100px;
	margin-left: 53px;
}

.del__body ul li img{
	width: 24px;
	height: 24px;
}
.del__body ul li source{
	width: 24px;
	height: 24px;
}
.del__header_btn1{
    margin-left: -4px;
}
.del__header_btn2{
	margin-left: 33px;
}
.del__header_btn3{
	margin-left: 48px;
}
.del__body ul li div h4{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #3E3E3E;
	margin-bottom: 10px;
}
.del__body ul li div p{
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	display: flex;
	align-items: center;
	color: #3E3E3E;
}
small{
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 130%;
	color: #3E3E3E;
	opacity: 0.7;
}
.header_quote{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #3E3E3E;
	padding: 80px 0px 45px 0px;
}
.quote{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: url(../img/bq_q.png);
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	position: relative;
}
.quote__text{
	padding: 59px 0px 56px 46px;
	height: 100%;
}
.mob{
	display: none;
}
.quote__text h3{
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}
.quote__text p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	color: #FFFFFF;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 20.8px;
	font-weight: 100;
	font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 774px;
}

.quote__text a{
	background: #E30611;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	border-radius: 8px;
	color: #FFFFFF;
	padding: 14px 32px;
}
.quote__cap{
	position: absolute;
	bottom: 1px;
	right: 10px;
}
#showMore{
	display: none;
}
.quote__cap_autor {
    position: absolute;
    bottom: 11%;
    left: -57%;
    z-index: 100;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.7;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 130%;
}
.footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0px;
}

.bg-image-about{
	background-image: url(../img/about.png);
	background-position: center center;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 100hv; */
}
.about__block{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 154px;
	padding-bottom: 124px;
}
.about_block_content{
	margin-top: -26px;
	max-width: 651px;
}
.about_block_content h2{
	font-weight: 700;
	font-size: 42.1531px;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 46px;
}
.about_block_content p{
    font-style: normal;
    font-weight: 100;
    font-size: 20.0729px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 27px;
}
.about_block_image{
	width: 46.1%;
    margin-top: 30px;
}

.docs{
	padding-bottom: 20px;
}
.docs h2{
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	padding-top: 82px;
	padding-bottom: 19px;
	text-transform: uppercase;
	color: #3E3E3E;
}
.docs__text{
	font-style: normal;
	font-weight: 100;
	max-width: 820px;
	font-size: 20px;
	line-height: 28px;
	color: #616163;
	padding-bottom: 50px;
}
.docs__download{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.docs__download .swiper-slide{
	height: 184px;
	padding: 37px 52px 33px 26px;
	display: flex;
	background: #F2F3F7;
    border-radius: 20px;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}
.docs__download p{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	color: #3E3E3E;
	max-width: 270px;
	text-align: left;
}

.docs__download a{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	text-decoration-line: underline;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #E30611;
	
}
.classes__img source{
	position: absolute;
	max-width: 220px;
	max-height: 277px;
	bottom: 0;
	right: 35px;
	z-index: 100;
	border-radius: 0px 0px 20px 0px;
}
.drop span{
	display: flex !important;
	flex-direction: row;
	align-items: center;
	
}

.classes__img img{
	position: absolute;
	max-width: 220px;
	max-height: 277px;
	bottom: 0;
	right: 35px;
	z-index: 100;
	border-radius: 0px 0px 24px 0px;
}
.classes__img_btn{
	z-index: 900;
}
.classes__img_grag img{
	position: absolute;
	bottom: -2px !important;
	left: 0;
	z-index: 101;
	width: 100%;
}
.classes__img_grag{
	bottom: -2px !important;
}
.classes__img_grag img{
	position: absolute;
	bottom: -2px !important;
	left: 0;
	z-index: 101;
	width: 100%;
}
.videareg__left_img img {
    width: 100%;
    max-width: 884px;
    margin-top: -91px;
}


.videareg__left_img source {
    width: 100%;
    max-width: 884px;
    margin-top: -91px;
}
.footer > p, .footer > a{
	font-style: normal;
	font-weight: 100;
	font-size: 20.0729px;
	line-height: 28px;
	color: #FFFFFF;
}
.sistem{
	padding-bottom: 233px;
}

.header__nemu_list-item.active a{
	color: #E30611;
}
.header__nemu_list-item.active a::after{
	width: 100%;
}
.header__menu.act {
	position: fixed;
	top: 61px;
	width: 100%;
	height: 100vh;
	background-color: #000000;
	overflow: scroll;
	left: 0;
}
.header__menu.act::-webkit-scrollbar{
	display: none;
}
.header__menu.act .header__menu_list{
	display: flex;
	flex-direction: column;
}

.line{
	background: #F2F3F7;
	border-radius: 20px;
	padding: 68px 26px 50px;
	margin-bottom: 62px;
}

.line h2{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3E3E3E;
    margin-bottom: 12px;

}
.line__block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.line__block_item p{
	font-style: normal;
    font-weight: 100;
    max-width: 603px;
    font-size: 16px;
    line-height: 21px;
	margin-top: 24px;
    color: #616163;
}
.line__block_item ul {
    margin-top: 36px;
}
.bl{
	position: relative;
}
.main_slider__nav{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 14%;
}
.line__block_item ul li{
	font-style: normal;
    font-weight: 100;
    max-width: 682px;
    font-size: 16px;
    line-height: 21px;
    color: #616163 !important;
	margin-top: 24px;
	margin-left: 0;
}
.line__block_item-slog{
	font-style: normal !important;
    font-weight: 100 !important;
    max-width: 682px  !important;
    font-size: 20px !important;
    line-height: 25px !important;
    color: #616163 !important;
}
#ak{
	padding-bottom: 62px;
}
.photoAutoTwo{
	max-width: 600px !important;
} 
.sistem__right_par{
	font-style: normal;
    font-weight: 100;
    font-size: 19px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 27px;
    max-width: 400px;
    letter-spacing: 0.5px;
}
.lang{
	position: absolute;
	top:-100px;
	display: flex;
	transition: .3s ease;
	background-color: #000000;
	align-items: center;
	justify-content: center;
	right: -10px;
}
.ac-lang{
	cursor: pointer;
	padding-left: 10px;
	color:  #E30611;
	transition: .3s ease;
}
.active-modal{
	border-radius:  0px 0px  10px 10px ;
	top: 45px;
    right: -10px;
}
.lang_item a:hover{
	color: #E30611;
	transition: all 0.5s ease;
}
.act-ln{
	color: #FFFFFF;
    cursor: pointer;
    opacity: 0.6;
}
.header-r{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}